<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Price_Comparitor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
    <userSettings>
        <Price_Comparitor.Properties.Settings>
            <setting name="commission" serializeAs="String">
                <value>0.15</value>
            </setting>
            <setting name="amazonFee" serializeAs="String">
                <value>1.35</value>
            </setting>
            <setting name="fbaFee" serializeAs="String">
                <value>1.42</value>
            </setting>
            <setting name="thrdPtyFee" serializeAs="String">
                <value>0.1</value>
            </setting>
            <setting name="minProfit" serializeAs="String">
                <value>0</value>
            </setting>
        </Price_Comparitor.Properties.Settings>
    </userSettings>
</configuration>
